html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(254, 223, 225);
}
canvas {
  display: block;
  position: relative;
  margin: 0 auto;
}
.jumbotron {
  background-color: rgb(29, 27, 83);
  color: white;
}